* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #a3c6ee;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.ghibli-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 70%;
    height: 100vh;
}
.ghibli-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.ghibli-phone img {
    height: 40rem;
}
.ghibli-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;
    min-height: 36rem;
}
.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(199, 233, 247);
    width: 90%;
    padding: 1.5rem 0;
    border: 1px solid rgb(100, 186, 201);
}
.group:nth-child(1) {
    min-height: 19rem;
}
.instagram-logo {
    height: 5rem;
}
.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.profile-photo img {
    height: 6rem;
}

.ghibli-login {
    background-color: #6d5e7a;
    color: white;
    padding: 8px;
    border-radius: 4px;
}
.ghibli-logout {
    color: #6d5e7a;
}

.not-account {
    color: rgb(50, 129, 143);
}

.link-blue {
    color: #6d5e7a;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('appstore.png');
}
.app-download:nth-child(2) {
    background-image: url('playstore.png');
}

/* media queries*/

@media (max-widht:  1024px) {
    .ghibli-wrapper {
        width: 90%;
    }
}

@media all and (min-width:1px) and (max-width:640px){
    .ghibli-wrapper{
       width: 80%;
    }
    .ghibli-phone {
        display: none;
    }
    .ghibli-continue {
        width: 150%;
    }

}